#popular {
  padding: 120px 0;
  .popular {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .card {
      margin: 20px 30px;
      width: 15vw;
      padding: 10px 15px;
      border: 2px solid gray;

      .stars {
        position: relative;

        .stars-color {
          height: 100%;
          z-index: 1;
          position: absolute;
        }
        .star {
          position: relative;
          z-index: 3;
        }
      }
    }
  }
}

.cast {
  padding: 50px 0;
  margin: 50px 0;
}

.videos {
  padding: 0 0 40px 0;
}